<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav" >
    <li class = "nav-item">
      <a routerLink="employeeList" routerLinkActive="active" class="nav-link">Employee List</a>
    </li>
    <li class = "nav-item">
      <a routerLink="addEmployee" routerLinkActive="active" class="nav-link">Add Employee</a>
    </li>
  </ul>
</nav> -->

<mat-toolbar color="primary">{{title}}
  <mat-icon aria-hidden="false" matTooltip="logout"  aria-label="logout" routerLink="/login"  style="right: 0;position: fixed;">logout</mat-icon>
 </mat-toolbar>

<div class="container">
<router-outlet></router-outlet>
</div>

<!-- <footer class = "footer">
<span>All rights reserved 2020</span>
</footer> -->

<mat-toolbar class="bottom-navbar" color="primary">All rights reserved 2020</mat-toolbar>